
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00488E;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="../../assets/Images/2560px-Federal_bank_India.svg.jpg" alt="" width="200" height="50">
			</a>
			<span class="navbar-text ps-2 text-white">
				KPD Building, Olavakkode Main Rd, <br>
				Olavakode, Palakkad, <br>
				Kerala 678002
			</span>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
				<a class="nav-link text-white" aria-current="page" href="#">Personal</a>
				<a class="nav-link text-white" href="#">Corporate</a>
				<a class="nav-link text-white" href="#">Business</a>
				<a class="nav-link text-white" href="#">Tenders</a>
				<a class="nav-link text-white" href="#">FAQs</a>
				<a class="nav-link text-white" href="#">ContactUs</a>
				<!-- <i class="fas fa-user-circle fa-2x"></i> -->
			</div>
		</div>
	</nav>

<h2 style="text-align: center;">Transaction History</h2>
<table class="table table-secondary table-bordered border-info table-striped w-75 mt-0 mb-0 me-auto ms-auto">
    <thead>
        <tr>
            <th>Sl.No</th>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions;let i=index;">
            <td>{{i+1}}</td>
          <td>{{transaction.type}}</td>
          <td>{{transaction.amount}}</td>
        </tr>
      </tbody>
</table>
<a routerLink="/home" class="link-dark fw-bold" style="display:block;text-align:center">Home</a>

