
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #00488E;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="../../assets/Images/2560px-Federal_bank_India.svg.jpg" alt="" width="200" height="50">
			</a>
			<span class="navbar-text ps-2 text-white">
				KPD Building, Olavakkode Main Rd, <br>
				Olavakode, Palakkad, <br>
				Kerala 678002
			</span>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
				<a class="nav-link text-white" aria-current="page" href="#">Personal</a>
				<a class="nav-link text-white" href="#">Corporate</a>
				<a class="nav-link text-white" href="#">Business</a>
				<a class="nav-link text-white" href="#">Tenders</a>
				<a class="nav-link text-white" href="#">FAQs</a>
				<a class="nav-link text-white" href="#">ContactUs</a>
				<a class="nav-link text-white">Logout</a>
				<!-- <i class="fas fa-user-circle fa-2x"></i> -->
			</div>
		</div>
	</nav>


	
		


		<div class="row w-100">
			<div id="section"></div>
			<h1 style="text-align: center;">Welcome {{name}}</h1>
			<div class="col-lg-4 mb-2">
				<div class="card mx-auto" style="width:23rem;">
					<img class="card-img-top" src="../../assets/Images/andre-taissin-5OUMf1Mr5pU-unsplash.jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title text-center">
							Cash Deposit
						</h5>

						<div class="text-center">
							<a href="deposit" class="btn btn-primary">
								Go for deposit
							</a>
						</div>
					</div>
				</div>
			</div> 

			 <div class="col-lg-4 mb-2">
				<div class="card mx-auto" style="width:23rem;">
					<img class="card" src="../../assets/Images/Budgets-And-Financial-Reports.jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title text-center">
							Balance Enquiry
						</h5>

						<p class="card-text text-center">
							EXPLORE FED | 360
						</p>

						<div class="text-center">
							<button type="button" class="btn btn-primary" disabled>
								Check now
							</button>
						</div>
					</div>
				</div>
			</div> 

			 <div class="col-lg-4 mb-2">
				<div class="card mx-auto" style="width:23rem;">
					<img class="card-img-top" src="../../assets/Images/andres-siimon-yFWIm4eGnE4-unsplash.jpg"
						alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title text-center">
							Cash Withdraw
						</h5>

						<div class="text-center">
							<a href="withdraw" class="btn btn-primary">
								Go for withdraw
							</a> 
						</div>
					</div>
				</div>
			</div>
		 </div>


<!-- Footer -->
	<footer style="padding-top: 100px;" class="page-footer font-small blue">
		<div class="footer-copyright text-center py-4 fw-bold">© 2021 Copyright
			<a href="https://www.federalbank.co.in/"> federalbank.co.in</a>
		</div>
	</footer>
